body {
    background-image: url("email-pattern.png");

}

h1 {
    text-align: center;
    flex: content;
    font-family: 'Nunito', sans-serif;
    
}


.firstdiv {
    display: flexbox;
    border-radius: 30px;
    background-color: rgb(212, 211, 219);
    padding-top: 4px;
    margin: auto;
    width: 1200px;
    height: 800px;
    text-align: center;  
    
}

.wrapper {
    display: box;
}