body {
    background-color: deepskyblue;

}

h1 {
    text-align: center;
    flex: content;
}


.firstdiv {
    display: block;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 400px;
    padding-bottom: 40px;
    margin: auto;
    width: 800px;
    text-align: center;
    
    
}