


body {
    background-image: url("email-pattern.png");
    min-height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

h1 {
    text-align: center;
    flex: content;
    font-family: 'Nunito', sans-serif;
    
}

h2 {
    text-align: center;
    flex: content;
    font-family: 'Nunito', sans-serif;
    color: rgb(235, 235, 235);
}

p1 {
    color: rgb(235, 235, 235);
}

.mainbox {
    display: flexbox;
    border-radius: 30px;
    background-color: rgb(212, 211, 219);
    padding-top: 4px;
    margin: auto;
    width: 1200px;
    height: 800px;
    text-align: center;  
    
}

.menu {
    display: flexbox;
    border-radius: 50px;
    background-color: rgb(160, 155, 169);
    width: 500px;
    height: 35px;
    margin: auto;
    text-align: center;
}

.menu-button {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: rgb(160, 155, 169);
    height: 25px;
    color: rgb(235, 235, 235);
    border-style: none;

}

.menu-button:hover{
    background-color: rgb(123, 116, 131)!important;
    cursor: pointer;
}

.pages {
    display: none;
}

.outlineList {
    text-align: center;
}
.outlineList > ul {
    display: inline-block;
    text-align: left;
}

.aboutMe {
    background-color: rgb(123, 116, 131);

}

.projectsBox {
    display: flexbox;
    width: 1100px;
    height: 600px;
    background-color: rgb(160, 155, 169);  /*this is not permanent, this is only to see the box while im working on this section*/
    margin: auto;
    overflow-y: scroll;
}



@media only screen and (max-width: 600px) {

.mainbox{
    width: 400px;
}

.menu{
    width: 310px;
    height: 65px;
}
.projectsBox {
    width: 360px;
    height: 580px;
}

}


